.cart-item {
  position: relative;
  padding-top: 45px;

  margin-left: -30px;
  margin-right: -30px;
}

.cart-item__remove {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-item__image {
  .cart-item__floating-title {
    display: none;
  }
}

.cart-item__description {

}

.cart-item__quantity {

}

.cart-item__price,
.cart-item__quantity,
.cart-item__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__footer {
  margin-top: 30px;
}

.cart-item__additional-goods {

}

.cart-item__additional-goods_hidden {
  display: none;
}

.cart-item__additional-services {
  margin-top: 20px;
  border-top: 1px solid #C4C4C4;
  padding-top: 20px;
}

.cart-item__ordered-goods {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #C4C4C4;
}

@include tablet {
  .cart-item {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@include desktop {
  .cart-item__image,
  .cart-item__count,
  .cart-item__price {
    position: relative;
  }

  .cart-item {
    .cart-item__floating-title {
      display: none;
    }
  }

  .cart-item:first-child {
    .cart-item__floating-title {
      display: block;
      position: absolute;
      top: -80px;
    }
  }

  .cart-item__title {
    width: 50%;
  }

  .cart-item__description {
    display: flex;
    justify-content: space-between;
  }
}
