.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 45px;
  margin-bottom: 45px;
  position: relative;
}

.header__menu {
  display: none;
}

.header__menu_opened {
  display: block;

  .menu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: white;
    z-index: 9;
    padding: 20px;

    flex-direction: column;
    box-shadow: 0 0 8px #939393;

    .menu__item {
      margin-bottom: 20px;
    }
  } 
}

@include desktop {
  .menu_mobile {
    display: none;
  }
  
  .header__menu {
    display: block;

    .menu {
      flex-direction: row;
  
      .menu__item {
        margin: 0 20px;
  
        &.menu__item_small-margin {
          margin: 0 8px;
        }
  
        &:first-child {
          margin-left: 0;
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .header__burger {
    display: none;
  }
}
