.loan {
  .tile {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 0;
  }
}

.loan__conditions {
  justify-content: space-between;
  margin-bottom: 10px;
}

.loan__conditions {
  display: none;
  &:first-child {
    display: flex;
    margin-bottom: 0;

    .conditions__title {
      display: none;
    }
  }
  &:last-child {
    .button {
      display: none;
    }
  }
}

.loan__structure {
  display: none;
}

.loan__opened {
  .loan__conditions {
    display: flex;
    &:first-child {
      margin-bottom: 10px;
    }
  }
  .loan__structure {
    display: block;
  }
}

.loan__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .button {
    margin-bottom: 15px;
    width: 100%;
  }
}

.loan {
  &:not(:first-child) {
    .loan__tray {
      border-top: 1px solid #C4C4C4;
    }
  }
}

@include tablet {
  .loans {
    .tile {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@include desktop {
  .loans {
    margin-top: 100px;
  }

  .loan {
    position: relative;

    &:first-child {
      .loan__conditions {
        .conditions__title {
          display: block;
          position: absolute;
          top: -50px;
        }
      }
    }

    .loan__conditions {
      .conditions__title {
        display: none;
      }
    }

    .loan__tray {
      .tile {
        display: flex;
        justify-content: space-between;
      }
      .loan__conditions {
        display: flex;

        &:first-child {
          .button {
            display: none;
          }
        }

        &:last-child {
          .button {
            margin-left: 30px;
          }
        }
      }
    }
    .loan__buttons {
      flex-direction: row;
      justify-content: space-between;

      .button {
        &:first-child {
          margin-right: 20px;
        }

        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }
}
