.reviews {

}

.reviews__summary {
  padding: 10px 0 30px;
  border-bottom: 1px solid #939393;
}

.review__post {
  padding: 25px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #93939346;
  }
}

.review__stars {
  margin-top: 15px;
  margin-bottom: 15px;
}
