@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff) {
	$src: null;


	@each $ext in $exts {
		$src: append($src, url(quote($path + "." + $ext)) format(quote($ext)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin icon_arrow($arrow_color) {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 20 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.40576C0.723858 3.40576 0.5 3.62962 0.5 3.90576C0.5 4.1819 0.723858 4.40576 1 4.40576V3.40576ZM19.8536 4.25932C20.0488 4.06405 20.0488 3.74747 19.8536 3.55221L16.6716 0.370228C16.4763 0.174966 16.1597 0.174966 15.9645 0.370228C15.7692 0.56549 15.7692 0.882072 15.9645 1.07733L18.7929 3.90576L15.9645 6.73419C15.7692 6.92945 15.7692 7.24603 15.9645 7.4413C16.1597 7.63656 16.4763 7.63656 16.6716 7.4413L19.8536 4.25932ZM1 4.40576H19.5V3.40576H1V4.40576Z' fill='%23#{$arrow_color}'/%3E%3C/svg%3E%0A");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
