.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.icon_size-s {
    height: 20px;
    width: 20px;
  }

  &.icon_size-m {
    height: 30px;
    width: 30px;
  }

  // Margins
  &.icon_indent-left {
    margin-left: 5px;
  }

  &.icon_indent-right {
    margin-right: 5px;
  }

  // Diffs
  &.icon_profile {
    background-image: url("../images/icon-small-profile.svg");
    background-size: 80%;
  }
  &.icon_cart-blue {
    background-image: url("../images/icon-small-cart-blue.svg");
  }
  &.icon_phone {
    background-image: url("../images/icon-small-phone.svg");
    background-size: 88%;
  }
  &.icon_chosed-smartphone {
    background-image: url("../images/icon-how-it-works-chosed-phone.svg");
  }
  &.icon_checklist {
    background-image: url("../images/icon-how-it-works-list.svg");
  }
  &.icon_quick-delivery {
    background-image: url("../images/icon-how-it-works-delivery.svg");
  }
  &.icon_cart-white {
    background-image: url("../images/icon-small-cart-white.svg");
  }
  &.icon_social-vk {
    background-image: url("../images/icon-social-vk.svg");
    background-size: 80%;
  }
  &.icon_social-instagram {
    background-image: url("../images/icon-social-instagram.svg");
    background-size: 75%;
  }
  &.icon_social-facebook {
    background-image: url("../images/icon-social-facebook.svg");
    background-size: 40%;
  }
  &.icon_social-telegram {
    background-image: url("../images/icon-social-telegram.svg");
    background-size: 80%;
  }
  &.icon_social-whatsapp {
    background-image: url("../images/icon-social-whatsapp.svg");
    background-size: 130%;
    background-position: 60% 60%;
  }

  @mixin icon_arrow($arrow_color) {
    content: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 20 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.40576C0.723858 3.40576 0.5 3.62962 0.5 3.90576C0.5 4.1819 0.723858 4.40576 1 4.40576V3.40576ZM19.8536 4.25932C20.0488 4.06405 20.0488 3.74747 19.8536 3.55221L16.6716 0.370228C16.4763 0.174966 16.1597 0.174966 15.9645 0.370228C15.7692 0.56549 15.7692 0.882072 15.9645 1.07733L18.7929 3.90576L15.9645 6.73419C15.7692 6.92945 15.7692 7.24603 15.9645 7.4413C16.1597 7.63656 16.4763 7.63656 16.6716 7.4413L19.8536 4.25932ZM1 4.40576H19.5V3.40576H1V4.40576Z' fill='%23#{$arrow_color}'/%3E%3C/svg%3E%0A");
  }

  &.icon_arrow-right-white {
    @include icon_arrow('FFFFFF');
  }
  
  &.icon_arrow-right-blue {
    @include icon_arrow('59AFFF');
  }
}
