.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  flex-shrink: 0;

  &.icon_size-s {
    height: 20px;
    width: 20px;
  }

  &.icon_size-m {
    height: 30px;
    width: 30px;
  }

  &.icon_size-l {
    height: 60px;
    width: 60px;
  }

  &.icon_size-xl {
    height: 72px;
    width: 72px;
  }

  // Margins
  &.icon_indent-left {
    margin-left: 5px;
  }

  &.icon_indent-right {
    margin-right: 5px;
  }

  // Backgrounds
  &.icon_background-white {
    background-color: white;
  }

  // Diffs
  &.icon_profile {
    background-image: url("../images/icon-small-profile.svg");
    background-size: 80%;
  }
  &.icon_cart-blue {
    background-image: url("../images/icon-small-cart-blue.svg");
  }
  &.icon_phone {
    background-image: url("../images/icon-small-phone.svg");
    background-size: 88%;
  }
  &.icon_chosed-smartphone {
    background-image: url("../images/icon-how-it-works-chosed-phone.svg");
  }
  &.icon_checklist {
    background-image: url("../images/icon-how-it-works-list.svg");
  }
  &.icon_quick-delivery {
    background-image: url("../images/icon-how-it-works-delivery.svg");
  }
  &.icon_cart-white {
    background-image: url("../images/icon-small-cart-white.svg");
  }
  &.icon_social-vk {
    background-image: url("../images/icon-social-vk.svg");
    background-size: 80%;
    height: 40px;
    width: 40px;
  }
  &.icon_social-instagram {
    background-image: url("../images/icon-social-instagram.svg");
    background-size: 75%;
    height: 40px;
    width: 40px;
  }
  &.icon_social-facebook {
    background-image: url("../images/icon-social-facebook.svg");
    background-size: 40%;
    height: 40px;
    width: 40px;
  }
  &.icon_social-telegram {
    background-image: url("../images/icon-social-telegram.svg");
    background-size: 80%;
    height: 40px;
    width: 40px;
  }
  &.icon_social-whatsapp {
    background-image: url("../images/icon-social-whatsapp.svg");
    background-size: 130%;
    background-position: 60% 60%;
    height: 40px;
    width: 40px;
  }

  &.icon_burger {
    background-image: url("../images/icon-button-burger.svg");
  }

  &.icon_close {
    background-image: url("../images/icon-x.svg");
  }

  &.icon_document {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 3.52941V0L11.5 3.52941H8Z' fill='%233B89CF'/%3E%3Cpath d='M0 0H7V4.41176H12V14.1176H0V0Z' fill='%233B89CF'/%3E%3C/svg%3E%0A");
  }

  &.icon_check {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.09091L7.03226 12L15 2' stroke='%2359AFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &.icon_profile-big {
    background-image: url("data:image/svg+xml,%3Csvg width='74' height='74' viewBox='0 0 74 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16:1363' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='74' height='74'%3E%3Ccircle cx='37' cy='37' r='37' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16:1363)'%3E%3Cpath d='M65 71C65 86.464 52.464 99 37 99C21.536 99 9 86.464 9 71C9 55.536 21.536 43 37 43C52.464 43 65 55.536 65 71Z' fill='%2359AFFF'/%3E%3C/g%3E%3Ccircle cx='37' cy='24' r='15' fill='%2359AFFF'/%3E%3C/svg%3E%0A");
    border-radius: 50%; 
  }

  &.icon_arrow-right-white {
    @include icon_arrow('FFFFFF');
  }
  
  &.icon_arrow-right-blue {
    @include icon_arrow('59AFFF');
  }
}

@include desktop {
  .icon {

    &.icon_social-vk {
      background-image: url("../images/icon-social-vk.svg");
      background-size: 80%;
      height: 20px;
      width: 20px;
    }
    &.icon_social-instagram {
      background-image: url("../images/icon-social-instagram.svg");
      background-size: 75%;
      height: 20px;
      width: 20px;
    }
    &.icon_social-facebook {
      background-image: url("../images/icon-social-facebook.svg");
      background-size: 40%;
      height: 20px;
      width: 20px;
    }
    &.icon_social-telegram {
      background-image: url("../images/icon-social-telegram.svg");
      background-size: 80%;
      height: 20px;
      width: 20px;
    }
    &.icon_social-whatsapp {
      background-image: url("../images/icon-social-whatsapp.svg");
      background-size: 130%;
      background-position: 60% 60%;
      height: 20px;
      width: 20px;
    }
  } 
}
