.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.icon_size-s {
    height: 20px;
    width: 20px;
  }

  &.icon_size-m {
    height: 30px;
    width: 30px;
  }

  &.icon_size-l {
    height: 60px;
    width: 60px;
  }

  // Margins
  &.icon_indent-left {
    margin-left: 5px;
  }

  &.icon_indent-right {
    margin-right: 5px;
  }

  // Diffs
  &.icon_profile {
    background-image: url("../images/icon-small-profile.svg");
    background-size: 80%;
  }
  &.icon_cart-blue {
    background-image: url("../images/icon-small-cart-blue.svg");
  }
  &.icon_phone {
    background-image: url("../images/icon-small-phone.svg");
    background-size: 88%;
  }
  &.icon_chosed-smartphone {
    background-image: url("../images/icon-how-it-works-chosed-phone.svg");
  }
  &.icon_checklist {
    background-image: url("../images/icon-how-it-works-list.svg");
  }
  &.icon_quick-delivery {
    background-image: url("../images/icon-how-it-works-delivery.svg");
  }
  &.icon_cart-white {
    background-image: url("../images/icon-small-cart-white.svg");
  }
  &.icon_social-vk {
    background-image: url("../images/icon-social-vk.svg");
    background-size: 80%;
  }
  &.icon_social-instagram {
    background-image: url("../images/icon-social-instagram.svg");
    background-size: 75%;
  }
  &.icon_social-facebook {
    background-image: url("../images/icon-social-facebook.svg");
    background-size: 40%;
  }
  &.icon_social-telegram {
    background-image: url("../images/icon-social-telegram.svg");
    background-size: 80%;
  }
  &.icon_social-whatsapp {
    background-image: url("../images/icon-social-whatsapp.svg");
    background-size: 130%;
    background-position: 60% 60%;
  }

  &.icon_arrow-right-white {
    @include icon_arrow('FFFFFF');
  }
  
  &.icon_arrow-right-blue {
    @include icon_arrow('59AFFF');
  }
}
