.sorting {
  * {
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-block;
  }
}

.sorting__title {
  display: block;
  margin-bottom: 5px;
}

@include desktop {
  .sorting__title {
    display: initial;
  }
}
