:root {
  --star-block-width: 44px;
}

.stars {
  width: calc(var(--rate) * var(--star-block-width));
  overflow-x: hidden;

  flex-shrink: 0;
  flex-grow: 0;
}

.stars__visible {
  display: flex;
  justify-content: space-between;
  width: calc(var(--star-block-width) * 5);
  position: relative;
}

.stars__star {
  display: block;
  height: 35px;
  width: 35px;
  background-image: url("../images/icon-star-filled.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.stars__star_empty {
  background-image: url("../images/icon-star-transparent.svg");
}
