.tile {
  padding: 30px;
}

.tile_background-white {
  background: white;
}

.tile_background-honeydew {
  background: #F9FAF9;
}

.tile_background-blue {
  background: #59AFFF;
}

.tile_side-padings-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tile__divider {
  width: 100%;
  height: 1px;
  border: 1px solid #59AFFF;
  margin: 10px 0;
}
